<app-header />
<div class="container">
    <h1 class="page-heading">My</h1>
    <h1 class="text-center year">2023/2024</h1>
    <h1 class="page-heading">Works</h1>
    <div>
        <div class="works mx-auto">
            <img src="work-pic.avif" alt="work pic">
        </div>
        <div class="mt-4">
            <p class="work-heading text-center"><a routerLink="/work-detail">LinkedIn Clone</a></p>
            <p class="text-center tag">UI DESIGN | WEB DEVELOPMENT</p>
        </div>
    </div>
    <div>
        <div class="works mx-auto">
            <img src="work-pic.avif" alt="work pic">
        </div>
        <div class="mt-4">
            <p class="work-heading text-center"><a routerLink="/work-detail">LinkedIn Clone</a></p>
            <p class="text-center tag">UI DESIGN | WEB DEVELOPMENT</p>
        </div>
    </div>
    <div>
        <div class="works mx-auto">
            <img src="work-pic.avif" alt="work pic">
        </div>
        <div class="mt-4">
            <p class="work-heading text-center"><a routerLink="/work-detail">LinkedIn Clone</a></p>
            <p class="text-center tag">UI DESIGN | WEB DEVELOPMENT</p>
        </div>
    </div>
    <div>
        <div class="works mx-auto">
            <img src="work-pic.avif" alt="work pic">
        </div>
        <div class="mt-4">
            <p class="work-heading text-center"><a routerLink="/work-detail">LinkedIn Clone</a></p>
            <p class="text-center tag">UI DESIGN | WEB DEVELOPMENT</p>
        </div>
    </div>
    <app-separator />
    <app-footer />
</div>