<div class="container">
    <h1 class="page-heading">{{ pageHeading }}</h1>
    <div class="parent">
        <div id="my-pic" class="rounded-circle mx-auto my-3">
            <img src="myphoto.avif" alt="my picture">
        </div>
    </div>

    <div>
        <h2 class="topic-heading">My Skills</h2>
        <ul class="body-text">
            <li class="mb-3">HTML, CSS, Javascript</li>
            <li class="mb-3">DJango</li>
            <li class="mb-3">Angular</li>
            <li class="mb-3">Figma</li>
        </ul>
    </div>

<app-separator />

    <div>
        <h2 class="topic-heading">My Contact Info</h2>
        <ul class="body-text">
            <li class="mb-1"> <a href="mailto:arsalannaziri0786@gmail.com">Email: arsalannaziri0786&#64;gmail.com</a></li>
            <li class="mb-1">Whatsapp: +91 8092239924</li>
            <li class="mb-1">Facebook: facebook/&#64;arsalan</li>
            <li class="mb-1">X: twitter.com/&#64;arsalan</li>
            <li class="mb-1">Phone: +91 8092239924</li>
        </ul>
    </div>

<app-separator />
<app-footer />

</div>
