<div>
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" [formControlName]="'password'">
        </div>
        <div>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" id="confirm_password" [formControlName]="'confirmPassword'">
        </div>
        <button type="submit">Reset Your Password</button>
    </form>
</div>