.navbar {
    background-color: #191919;
}

.nav-item {
    text-align: center;
    font-size: 60px;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--primary-color);
}

.nav-link {
    color: black;
}

.offcanvas-body, .offcanvas-header {
    background-color: var(--primary-color);
    color: black;
}

hr {
    color: white
}


.logo {
    margin-left: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
    
}

