<app-header />
<div class="container">
    <h1 class="page-heading">My Blogs</h1>
    <div class="chips-container">
        <a href="" class="chips px-3 py-2">All</a>
        <a href="" class="chips px-3 py-2">Python</a>
        <a href="" class="chips px-3 py-2">Angular</a>
        <a href="" class="chips px-3 py-2">HTML</a>
        <a href="" class="chips px-3 py-2">CSS</a>
        <a href="" class="chips px-3 py-2">Javascript</a>
        <a href="" class="chips px-3 py-2">Django</a>
        <a href="" class="chips px-3 py-2">SCSS</a>
        <a href="" class="chips px-3 py-2">Git</a>
        <a href="" class="chips px-3 py-2">Docker</a>
    </div>
    <div class="search-container">
        <input class="py-3 px-2 w-100" type="text" placeholder="Search the blog...">
    </div>
    <div>
        <div class="blog-container">
            <div class="blog-image w-100">
                <img src="spacetime.avif" alt="">
            </div>
            <p class="topic-tag">PYTHON</p>
            <div class="blog-heading">
                <h1>How to create a chatbot using python and chatgpt.</h1>
            </div>
            <div class="excerpts mt-4">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est tempora ea nulla deleniti molestias
                    voluptates quod voluptate porro veniam consequuntur fugiat neque, quaerat culpa eum. Aliquam, enim
                    maxime. Ipsa, id repudiandae earum, temporibus optio reiciendis aspernatur magnam labore iusto
                    aliquam recusandae omnis impedit, velit neque ducimus harum enim sunt officia.</p>
            </div>
            <p class="author-tag">Arsalan Naziri</p>
        </div>
        <div class="blog-container">
            <div class="blog-image w-100">
                <img src="photo3.png" alt="">
            </div>
            <p class="topic-tag">PYTHON</p>
            <div class="blog-heading">
                <h1>How to create a chatbot using python and chatgpt.</h1>
            </div>
            <p class="author-tag">Arsalan Naziri</p>
        </div>
        <div class="blog-container">
            <div class="blog-image w-100">
                <img src="photo3.png" alt="">
            </div>
            <p class="topic-tag">PYTHON</p>
            <div class="blog-heading">
                <h1>How to create a chatbot using python and chatgpt.</h1>
            </div>
            <p class="author-tag">Arsalan Naziri</p>
        </div>

        <div class="read-more">
            <h1 class="topic-heading">Read More</h1>
            <div class="more-blogs">
                <div class="more-blog-heading">
                    <h2>How to create a chatbot using python and chatgpt.</h2>
                    <p class="author-tag">Arsalan Naziri</p>
                </div>
                <div class="more-blogs-image">
                    <img src="photo3.png" alt="">
                </div>
            </div>
            <div class="more-blogs">
                <div class="more-blog-heading">
                    <h2>How to create a chatbot using python and chatgpt.</h2>
                    <p class="author-tag">Arsalan Naziri</p>
                </div>
                <div class="more-blogs-image">
                    <img src="photo3.png" alt="">
                </div>
            </div>
            <div class="more-blogs">
                <div class="more-blog-heading">
                    <h2>How to create a chatbot using python and chatgpt.</h2>
                    <p class="author-tag">Arsalan Naziri</p>
                </div>
                <div class="more-blogs-image">
                    <img src="photo3.png" alt="">
                </div>
            </div>
            <div class="more-blogs">
                <div class="more-blog-heading">
                    <h2>How to create a chatbot using python and chatgpt.</h2>
                    <p class="author-tag">Arsalan Naziri</p>
                </div>
                <div class="more-blogs-image">
                    <img src="photo3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <app-separator />
    <app-footer />
</div>